/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&family=Teko:wght@400;500&display=swap');
html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'Teko', sans-serif;
  background-color: #dec3a5;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 100%;
  min-height: calc((var(--vh, 1vh) * 100));
  position: relative;
}
.background-wrapper {
  background-image: url('../img/background-grunge.png');
  background-size: 100%;
  height: 100%;
  min-height: calc((var(--vh, 1vh) * 100));
}
.background-landscape {
  background-image: url('../img/background-landscape.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  height: 100%;
  min-height: calc((var(--vh, 1vh) * 100));
}
.background-landscape.narrow {
  background-image: url('../img/background-landscape-narrow.png');
}
.logo-brand img {
  transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.logo-brand:hover img {
  transform: scale(0.9);
}
.main-content {
  padding-bottom: 200px;
}
.btn {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 0;
  border: 4px solid transparent;
}
.btn-primary {
  color: #fff;
  background-color: #080420;
  border-color: #ED5841;
}
.btn-primary:hover {
  color: #080420;
  background-color: #fff;
  border-color: #080420;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #080420;
  background-color: #fff;
  border-color: #080420;
  box-shadow: none;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #080420;
  background-color: #fff;
  border-color: #080420;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-secondary {
  color: #fff;
  background-color: #ED5841;
  border-color: #ED5841;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #3d3d3d;
  border-color: #3d3d3d;
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #3d3d3d;
  border-color: #3d3d3d;
  box-shadow: none;
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #3d3d3d;
  border-color: #3d3d3d;
}
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-border {
  border: 4px solid #141414;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}
.form-control,
.form-select {
  padding: 8px 20px;
  font-size: 24px;
  color: #292929;
  border: 4px solid #ED5841;
  border-radius: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
}
.form-control:focus,
.form-select:focus {
  color: #292929;
  background-color: transparent;
  border-color: rgba(var(--tq-primary-color), 0.5);
  box-shadow: 0 0 0 0.25rem rgba(var(--tq-primary-color), 0.25);
}
.form-control::-moz-placeholder {
  color: #3D3D3D;
  opacity: 1;
}
.form-control::placeholder {
  color: #3D3D3D;
  opacity: 1;
}
textarea.form-control {
  text-align: left;
}
.form-check-input {
  border-radius: 0!important;
  border: 3px solid #ED5841;
  background: transparent;
  width: 20px;
  height: 20px;
}
.form-check-input:checked {
  background-color: #ED5841;
  border-color: #ED5841;
}
.form-check-input:focus {
  border-color: #ED5841;
  outline: 0;
  box-shadow: none;
}
.form-check-label {
  font-size: 20px;
  text-transform: uppercase;
  padding: 2px 0 0 6px;
}
.asterix {
  position: relative;
}
.asterix::before {
  position: absolute;
  content: '*';
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #080420;
  top: 8px;
  left: 10px;
  z-index: 1;
}
.navigation-bar .logo-brand {
  width: 300px;
}
#hamburger {
  position: relative;
  padding-left: 16px;
  z-index: 1032;
}
#hamburger .line{
  width: 42px;
  height: 4px;
  background-color: #141414;
  display: block;
  margin: 6px 0 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#hamburger:hover{
  cursor: pointer;
}
#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
#hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(10px) rotate(45deg);
}
#hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-10px) rotate(-45deg);
}
.nav-mobile-overlay {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #dec3a5;
  background-image: url('../img/background-grunge.png');
  width: 100%;
  height: 100%;
  z-index: 1031;
  transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1);
  opacity: 0;
}
.nav-mobile-overlay.is-open {
  visibility: visible;
  width: 100%;
  opacity: 1;
}
.nav-mobile-wrapper {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
  height: calc((var(--vh, 1vh) * 100));
  display: flex;
  align-items: center;
}
.nav-mobile-overlay.is-open .nav-mobile-wrapper {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 300ms;
}
.nav-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav-mobile .nav-mobile-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.nav-mobile .nav-mobile-menu .mobile-menu-item {
  position: relative;
  display: block;
  text-align: center;
  font-weight: 400;
  font-family: var(--sy-font-heading);
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #fff;
  background-color: #080420;
  text-decoration: none;
  padding: 8px 0 8px 0;
  margin-bottom: 15px;
  border: 4px solid #ED5841;
  transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.nav-mobile .nav-mobile-menu .mobile-menu-item:hover,
.nav-mobile .nav-mobile-menu .mobile-menu-item:focus {
  background-color: #3D3D3D;
}
.nav-mobile .nav-mobile-menu .mobile-menu-item:last-child {
  color: #fff;
  background-color: #ED5841;
}
.user-info {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.user-info .user-text {
  font-size: 18px;
}
.user-info .user-name {
  font-size: 32px;
  line-height: 32px;
}
.user-info .user-email {
  font-size: 24px;
  line-height: 24px;
  color: #ED5841;
}
.button-back {
  display: block;
  background-color: transparent;
  border: none;
}
.heading-title {
  display: block;
  background-color: #080420;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 20px 16px;
  border: 4px solid #ED5841;
}
h1.heading-title {
  font-size: 30px;
}
h3.heading-title {
  font-size: 24px;
}
.title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #141414;
}
.corner-first-row {
  margin-top: -40px;
}
.corner-second-row {
  margin-top: -80px;
}
.image-control-1 {
  margin-top: 120px;
}
.image-control-2 {
  margin-top: -200px;
}
.logo-cb150x {
  max-width: 400px;
}
.main-article {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
}
.main-article figcaption {
  margin-bottom: 30px;
}
.main-article a {
  color: #ED5841;
}
.nav-tab-default .nav-item {
  margin-right: 10px;
}
.nav-tab-default .nav-item:last-child {
  margin-right: 0;
}
.nav-tab-default .nav-item .nav-link {
  background-color: #080420;
  border: none;
  padding: 30px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.nav-tab-default .nav-item .nav-link:hover,
.nav-tab-default .nav-item .nav-link:focus {
  background-color: #3d3d3d;
}
.nav-tab-default .nav-item .nav-link.active {
  background-color: #ED5841;
}
.main-title {
  font-size: 32px;
  text-transform: uppercase;
}
.text-link {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  color: #141414;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.text-link:hover,
.text-link:focus {
  color: #ED5841;
  text-decoration: underline;
}
.logo-border {
  border: 4px solid #ED5841;
  margin-bottom: 30px;
  width: 180px;
}
.gallery-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.gallery-item img {
  width: 100%;
}
.gallery-popup {
  cursor: pointer;
}
.gallery-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.gallery-overlay.open {
  visibility: visible;
  opacity: 1;
}
.box-gallery {
  position: relative;
  background-color: #E8D5C1;
  background-image: url('../img/background-grunge.png');
  border-radius: 0;
  border: 10px solid #ED5841;
  padding: 60px 20px 30px 30px;
  height: calc((var(--vh, 1vh) * 100) - 100px);
}
.box-gallery-wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}
.box-gallery-wrapper::-webkit-scrollbar-track {
	background-color: #dec3a5;
}
.box-gallery-wrapper::-webkit-scrollbar {
	width: 8px;
	background-color: #9a9a9a;
}
.box-gallery-wrapper::-webkit-scrollbar-thumb {
	background-color: #080420;
}
.button-close {
  position: absolute;
  top: 16px;
  right: 30px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.home-layout {
  margin-top: -10vh;
}
.event-info {
  position: absolute;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: #141414;
  text-transform: uppercase;
  left: 25%;
  width: 600px;
}
.merch-title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.merch-gallery {
  border: 2px solid #ED5841;
  background-color: #fff;
}
.merch-header {
  background-color: #080420;
  color: #fff;
  padding: 22px 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  border-left: 2px solid #ED5841;
  border-bottom: 2px solid #ED5841;
}
.merch-header:first-child {
  border-left: none;
}
.merch-item img {
  width: 100%;
}
.social-media a {
  display: inline-block;
  padding: 8px 6px;
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1)
}
.social-media a:hover,
.social-media a:focus {
  opacity: 0.5;
}
.social-media a:first-child {
  padding-left: 0;
}
.text-time,
.text-default {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 900;
}
.text-default.large {
  font-size: 28px;
}
.text-time {
  color: #ff3d1f;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  width: 32px;
  height: 32px;
  font-size: 0;
}
.swiper-button-prev:after {
  background-image: url('../img/ico-chevron-lt.svg');
}
.swiper-button-next:after {
  background-image: url('../img/ico-chevron-rt.svg');
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -50px;
  left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -50px;
  right: auto;
}
.merch-slider .swiper-button-prev,
.merch-slider .swiper-button-next {
  top: calc(50% + 42px);
}
.merch-slider .swiper-button-next {
  right: 20px;
  left: auto;
}
.merch-slider .swiper-button-prev {
  left: 20px;
  right: auto;
}
.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 34px;
  font-size: 18px;
  font-weight: 600;
  color: #141414;
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: #ED5841;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 20px 20px 20px;
}
.footer-logo img {
  max-width: 100px;
}
.footer-menu .footer-menu-link {
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  text-transform: uppercase;
  transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.footer-menu .footer-menu-link:hover,
.footer-menu .footer-menu-link:focus {
  color: #ED5841;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden,
[hidden] {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
}
body.disable {
  overflow: hidden;
}

/* ==========================================================================
   Responsive Design.
   ========================================================================== */
@media only screen and (max-width: 991px) {
  .heading-title {
    margin-top: 30px;
  }
  .image-control-1 {
    margin-top: 0;
  }
  .image-control-2 {
    margin-top: 0;
    padding: 40px;
  }
  .event-info {
    position: relative;
    text-align: center;
    left: 0;
    width: auto;
  }
  .home-layout {
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .navigation-bar .logo-brand {
    width: 150px;
  }
  .event-info {
    font-size: 24px;
    margin-top: 30px;
  }
  .home-layout {
    margin-top: 5vh;
  }
  .main-content {
    padding-bottom: 100px;
  }
  h1.heading-title {
    font-size: 20px;
  }
  .corner-first-row {
    margin-top: 0;
  }
  .corner-second-row {
    margin-top: 0;
  }
  .image-control-1 {
    padding: 20px;
    margin-top: 30px;
  }
  .image-control-2 {
    padding: 60px;
    margin-bottom: 30px;
  }
  .logo-cb150x {
    max-width: 100%;
  }
  .nav-tab-default .nav-item .nav-link {
    padding: 16px;
  }
  .main-article {
    font-size: 16px;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0;
    left: auto;
    top: auto;
    bottom: 0;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 0;
    right: auto;
    top: auto;
    bottom: 0;
  }
  .gallery-wrapper {
    padding-bottom: 60px;
  }
  .merch-title {
    font-size: 24px;
  }
  .merch-header {
    padding: 14px 10px;
  }
  .merch-slider .swiper-button-prev,
  .merch-slider .swiper-button-next {
    top: calc(50% + 50px);
  }
  .merch-slider .swiper-button-next {
    right: 10px;
  }
  .merch-slider .swiper-button-prev {
    left: 10px;
  }
  #footer {
    padding: 0 10px 10px 10px;
  }
  .footer-logo img {
    max-width: 70px;
  }
  .footer-menu .footer-menu-link {
    font-size: 18px;
    padding: 0 10px;
  }
}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]::after {
    content: " (" attr(href) ")";
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}